@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root{
    --body-color: ##f5f5fa;
    --sidebar-color: #a39ae8;
}

html{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: #f5f5fa;

    scroll-behavior: smooth;
    color: #323232;
}

body{
    height: 100vh;
    background: var(--body-color);
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    width: 70vw;
}

/* nav */
.menu-btn{
    position: fixed;
    width: 4vw;
    height: 4vw;
    left: 4vw;
    top: 350px;
}

.showNav{
    position: fixed;
    background-color: none;
    width: 15%;
    height: 100%;
}

.showNav:hover .nav{
    transform: translate(23vw);
    transition: all 0.5s ease;
}

.nav{
    position: fixed;
    top: 0;
    left: -25%;
    height: 100%;
    width: 23%;
    background: var(--sidebar-color);
}
.bar{
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 30px;
    padding-left: 1.7vw;
}

.bar li {
    list-style: none;
}
.nav-link {
    display: flex;
    align-items: center;
    padding-left: 0.2vw;
    padding-bottom: 2.5vw;
    text-decoration: none;
    color: #323232;
    font-size: 2.3vw;
    font-weight: 500;
}

.nav-link:hover {
    color: white;
    transform: translate(10px) scale(1.1);
}
.nav-link:active {
    color: #919191fe;
}

/* HOME */
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-title {
    text-align: center;
    font-size: 72px;
    margin-bottom: 0px;
    font-weight: 700;
}

.home-description {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.home-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.generic-button {
    font-family: "Inter", sans-serif;
    color: white;
    background-color: #b3a5f2;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.generic-button:hover {
    background-color: #a39ae8;
}

.generic-button:active {
    background-color: #8f86d9;
}

/* About page section */
.content {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}

.content-section-1 {
    flex: 1;
}

.content-section-2 {
    flex: 2;
    padding-left: 60px;
}

.content-image {
    width: 100%;
    border-radius: 15px;
}

.content-section-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0px;
}

.content-section-text {
    font-size: 27px;
    line-height: 30px;
}

#contact-rightpadding {
    padding-left: 0px;
    padding-right: 30px;
}

/* Project page section */
#projects{
    padding-top: 30px;
    padding-bottom: 60px;
}
.project-title {
    font-size: 28px;
    font-weight: 700;
}

.project-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-item {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border-radius: 15px;
    margin: 0 20px 20px 0;
}

.project-image-container {
    flex-basis: 100%;
}

.project-text-container {
    flex-basis: 100%;
    padding: 10px 20px;
}

.project-image-thumbnail {
    width: 100%;
    border-radius: 15px;
}

.content ~ #contact{
    padding-bottom: 23vw;
}
#contact .content-section-1{
    padding-top: 50px;
}

#footer{
    font-size: 12px;
    padding-bottom: 10px;
    padding-left: 10px;
}