@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root{
    --body-color: ##f5f5fa;
    --sidebar-color: #a39ae8;
}

html{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: #f5f5fa;

    scroll-behavior: smooth;
    color: #323232;
}

body{
    height: 100vh;
    background: var(--body-color);
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    width: 70vw;
}

/* nav */
.menu-btn{
    position: fixed;
    width: 4vw;
    height: 4vw;
    left: 4vw;
    top: 350px;
}

.showNav{
    position: fixed;
    background-color: none;
    width: 15%;
    height: 100%;
}

.showNav:hover .nav{
    transform: translate(23vw);
    transition: all 0.5s ease;
}

.nav{
    position: fixed;
    top: 0;
    left: -25%;
    height: 100%;
    width: 23%;
    background: var(--sidebar-color);
}
.bar{
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 30px;
    padding-left: 1.7vw;
}

.bar li {
    list-style: none;
}
.nav-link {
    display: flex;
    align-items: center;
    padding-left: 0.2vw;
    padding-bottom: 2.5vw;
    text-decoration: none;
    color: #323232;
    font-size: 2.3vw;
    font-weight: 500;
}

.nav-link:hover {
    color: white;
    transform: translate(10px) scale(1.1);
}
.nav-link:active {
    color: #919191fe;
}

/* HOME */
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-title {
    text-align: center;
    font-size: 72px;
    margin-bottom: 0px;
    font-weight: 700;
}

.home-description {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.home-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.generic-button {
    font-family: "Inter", sans-serif;
    color: white;
    background-color: #b3a5f2;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.generic-button:hover {
    background-color: #a39ae8;
}

.generic-button:active {
    background-color: #8f86d9;
}

.me-gif{
    display: block;
    z-index: -1;
    width: 500px;
    float: right;
    padding-top: 40px;
    clip-path: inset(0 70px 0 70px);
}

/* About page section */
.content {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 170px;
    display: flex;
    flex-wrap: wrap;
}

.content-section-1 {
    flex: 1;
}

.content-section-2 {
    flex: 2;
    padding-left: 40px;
}

.content-image {
    width: 100%;
    border-radius: 15px;
}

.content-section-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0px;
}

.content-section-text {
    font-size: 27px;
    line-height: 30px;
}

#contact-rightpadding {
    padding-left: 0px;
    padding-right: 30px;
}

/* Project page section */
#projects{
    padding-top: 30px;
    padding-bottom: 50px;
}
.project-title {
    font-size: 28px;
    font-weight: 700;
}

.project-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-item {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border-radius: 15px;
    margin: 0 20px 20px 0;
}

.project-image-container {
    flex-basis: 100%;
}

.project-text-container {
    flex-basis: 100%;
    padding: 10px 20px;
}

.project-image-thumbnail {
    width: 100%;
    border-radius: 15px;
}

/* Contact section*/

.content ~ #contact{
    padding-bottom: 23vw;
}
#contact .social-media{
    padding-top: 50px;    
}

.social-media .button{
    position: relative;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}

.social-media .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 40px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.social-media .button .icon i{
    font-size: 25px;
    line-height: 60px;
}

.social-media .button:nth-child(1):hover .icon{
    background: #4267B2;
}
.social-media .button:nth-child(2):hover .icon{
    background: #4267B2;
}
.social-media .button:nth-child(3):hover .icon{
    background: #4267B2;
}
.social-media .button:nth-child(4):hover .icon{
    background: #4267B2;
}
.social-media .button:nth-child(5):hover .icon{
    background: #4267B2;
}

.social-media .button.ig:hover{
    width: 200px;
}

.social-media > .button.email:hover{
    width: 200px;
}
.social-media > .button.git:hover{
    width: 160px;
}
.social-media .button.phone:hover{
    width: 220px;
}
.social-media .button.linkedin:hover{
    width: 180px;
}

.social-media .button a:link, a:visited{
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease-out;
    text-decoration: none;
    color:#323232;
    margin-left: 10px;
}
.social-media .button.phone a{
    margin-left: 1px;
}
.social-media .button.git a{
    margin-left: 5px;
}

#phone{
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease-out;
    text-decoration: none;
    color:#323232;
}
#linkCopied{
    font-size: 19px;
    font-weight: 500;
    transition: all 0.3s ease-out;
    text-decoration: none;
    color:#323232;
    margin-left: 5px;
}

#footer{
    font-size: 12px;
    padding-bottom: 10px;
    padding-left: 10px;
}

@media screen and (max-width:990px){
    #contact .social-media{
        position: absolute;
        margin-top: 200px;
        left: 25vw;
    }
    .content ~ #contact{
        padding-bottom: 50vh;
    }
    .home-title {
        text-align: center;
        font-size: 50px;
        margin-bottom: 0px;
        font-weight: 700;
    }
    .home-description {
        text-align: center;
        font-size: 15px;
        font-weight: 500;
    }
} 

@media screen and (max-width:750px){
    .nav-link {
        display: flex;
        align-items: center;
        padding-bottom: 5vw;
        text-decoration: none;
        color: #323232;
        font-size: 2.5vw;
        font-weight: 500;
    }
    .home-title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 0px;
        font-weight: 700;
    }
    .home-description {
        text-align: center;
        font-size: 12px;
        font-weight: 500;
    }
}



